[
    {
    	"name" : "search",
		"exec" : 
        {
        	"path" : "swift://{my_account}/search/sys/search.nexe",
            "args" : "-c index/zsphinx.conf -i mainindex -w -m manifest"
        },
		"file_list" : 
		[
			{"device" : "input", "path" : "swift://{my_account}/search/sys/rwindex"},
			{"device" : "stdout"},
			{"device" : "stderr"}
		]
	}
]
