###########################################################
# ZRT fstab file, injects tar images contents into ZRT FS #
###########################################################

[env]
name=fname, value={FILE_NAME}

[args]
args=filesender-{DOCNUMBER}

[debug]
verbosity=4
