###########################################################
# ZRT fstab file, injects tar images contents into ZRT FS #
###########################################################

[args]
args=other

#[debug]
#verbosity=3

[env]
name=ZVM_LogLevel, value=1
