###########################################################
# ZRT fstab file, injects tar images contents into ZRT FS #
###########################################################

[args]
args=other {CMD_LINE} 
#[debug]
#verbosity=3

[env]
name=ZVM_LogLevel, value=0
name=CONTENT_TYPE,		value=text/plain

