###########################################################
# ZRT fstab file, injects tar images contents into ZRT FS #
###########################################################

[fstab] 
#inject files into FS
channel=/dev/mount/import, mountpoint=/, access=ro

[args]
args=pdf

[env]
name=ZVM_LogLevel, value=1
