###########################################################
# ZRT nvram file, injects tar images contents into ZRT FS #
###########################################################

[fstab] 
channel=/dev/mount/presettings.tar, mountpoint=/, access=ro, removable=no

[args]
args=single_object_indexer {ARGS}

#[debug]
#verbosity=3

[env]
name=SERVER_SOFTWARE,		value=zerocloud
name=PATH_INFO, 		value={FILE_NAME}

