###########################################################
# ZRT fstab file, injects tar images contents into ZRT FS #
###########################################################

[args]
args=txt {CMD_LINE}

#[debug]
#verbosity=3

[env]
name=ZVM_LogLevel, value=0
