###########################################################
# ZRT fstab file, injects tar images contents into ZRT FS #
###########################################################

[args]
#args=xmlpipecreator --savexml
args=xmlpipecreator

#[debug]
#verbosity=4

[env]
name=ZVM_LogLevel, value=1
