###########################################################
# ZRT fstab file, injects tar images contents into ZRT FS #
###########################################################

[args]
args=xmlpipecreator --duplicate

#[debug]
#verbosity=4
